.row{
    width: 100%;
    margin-left: 0;
}
th,td{
    width: 20%;
    border: 1px solid black;
    text-align: center;
    font-family: Aldrich;
}
p{
    font-size: 24px;
    font-family: Bilbo Swash Caps;
}
body{
    background-image: url(iamges/fleet.jpeg);
    min-height: 100vh;
}
.footer{
    
    bottom: 5vh;
    margin-top: 5vh;
}
.wrapper{
    min-height: 73vh;
}
.game{
    border-style: inset;
    
}
.wrap{
    display: flex;
    justify-content: space-between;
}
